.section-helen {
	margin: 25px 0;
    text-align: center;    
    display: inline-block;
    h2 {
        text-align: center;
        font-size: 2.2rem;
    }
    h3 {
        margin: 0;
        @include transition-duration($transition-time--base);
    }
}

.section {
  padding: 40px 20px;
  & + .section {
    border-top: 1px solid rgba($color--main, 1);
  }
  // @include desktop {
  //   padding: 40px 0;
  //   &.is-medium {
  //     padding: 120px 0;
  //   }
  //   &.is-large {
  //     padding: 240px 0;
  //   }
  // }
}