mixin menu(items)
	each item in items
		li: a(href='#') #{item}
		
mixin styles(files)
	each file in files
		link(rel="stylesheet", href=file)

mixin gallery(files)
	each file in files
		img(src=file,title="Title",alt=file)