/**
 * Colors
 * -----------------------------------------------------------------------------
 */

/* Brand colors
 * -------------------- */

$color--main:										#321c05;

/* Base colors
 * -------------------- */

$color--white:									#fff;
$color--black:									#222;

/* Text colors
 * -------------------- */

$color--text:										#333;
$color--link:										#9a8566;
$color--link-hover:							darken($color--link, 10%);

/* Button colors
 * -------------------- */

$color--button:									#9a8566;
$color--button-hover:						darken($color--button, 10%);

/* Border colors
 * -------------------- */

$color--border:									#321c05;

/* Border colors
 * -------------------- */

$color--body-background:							$color--main;
$img--body-background:								url(../img/bg_pattern.jpg);

$color--header-background:							$color--main;
$img--header-background:							url(http://lorempixel.com/1000/1000/abstract);

$color--footer-background:							$color--main;
$img--footer-background:							url(http://lorempixel.com/1000/1000/abstract);

/* Third party brand colors
 * -------------------- */

$color--facebook:								#03539e;
$color--twitter:								#35ccff;
$color--linkedin:								#217bc1;

/**
 * Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */

/* Font familys
 * -------------------- */

$font-family--primary:           'Open Sans', sans-serif;
$font-family--secondary:         'Oranienbaum', serif;

/* Font sizes
 * -------------------- */

$font-size--small:							14px;
$font-size--base:								16px;
$font-size--large:							24px;

/* Spacings and widths
 * -------------------- */

$tablet: 											769px;
$desktop: 										980px;
$widescreen: 									1180px;

$width-site:									960px;
$large:												1420px;
$medium:											980px;
$small:												760px;
$xsmall:											480px;
$spacing--small:								.5em;
$spacing--medium:								1em;
$spacing--large:								1.5em;

/* Transitions
 * -------------------- */

$transition-time--base:         .3s;